body{
    background-color: #000000;
    width: 100%;
    margin: 0;
}

.block-template{
    display: grid;
    grid-template-columns: 1fr 1168px 1fr;
}

.default-block{
    display: flex;
    flex-direction: column;
}

.white-back{
    background-color: white;
}
