@font-face {
    font-family: Montserrat;
    src: url("assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: Anton;
    src: url("assets/fonts/Anton/Anton-Regular.ttf");
}

@font-face {
    font-family: Antonio;
    src: url("assets/fonts/Antonio/Antonio-VariableFont_wght.ttf");
}

body{
    background-color: #000000;
    width: 100%;
    margin: 0;
    font-family: Montserrat, serif;
}

p{
    margin: 0;
    display: flex;
    justify-content: center;
}

a{
    color: inherit;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

h1 {
    margin: 0;
}

button{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

mark{
    background-color: inherit;
    color: inherit;
    font-weight: 700;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.active[class]{
    background-color: #B5E600;
}

.group-body{
    margin-top: 51px;
    flex-wrap: wrap;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #000000;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #2E2E2E;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 4px solid #000000;  /* creates padding around scroll thumb */
}
