:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Archivo", sans-serif;
    --third-family: "Graphik LC TT", sans-serif;
  }
@font-face {
    font-family: Montserrat;
    src: url("../../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("../../assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf");
}
@font-face {
    font-family: Anton;
    src: url("../../assets/fonts/Anton/Anton-Regular.ttf");
}

@font-face {
    font-family: Antonio;
    src: url("../../assets/fonts/Antonio/Antonio-VariableFont_wght.ttf");
}
html {
    scroll-behavior: smooth ;
  }

.fame-banner{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
    justify-items: center;
    align-items: center;
    
    background: #0A0A0A;
    border-radius: 37px;
    width: 100%;
    height: 183px;
    
    /* margin-top: 55px; */
    margin-bottom: 83px;
    
    text-transform: uppercase;
    
    padding: 0 68px 0 43px;
    box-sizing: border-box;
}

.fame-banner-title{
    gap: 5px;
    grid-area: 1/3;
}

.fame-banner-title-title{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 49px;
    line-height: 94%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #fff;
    text-wrap: nowrap;
}

.fame-banner-title-desc{
    margin-left: 93px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 28px;
    line-height: 96%;
    text-transform: uppercase;
    text-align: right;
    color: #d5b372;
    text-wrap: nowrap;
}


.ksi-fame-banner-img{
    height: 183px;
    width: 183px;
    background-image: url('../..//assets/fame/s2/Logo\ KSI\ 2.svg');
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    justify-self: start;
    
}

.champions {
    width: 955px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: end;
    align-items: end;
    align-self: center;

    margin-bottom: 82px;
}

.champ {
    width: 319px;
    justify-items: center;
    align-items: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.champ-place {
    width: 150px;
    height: 100px;
    justify-self: center;
    align-self: start;

}

.champ-place-first {
    background-image: url('../../assets/fame/s2/первое.svg');
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
}
.champ-place-second {
    background-image: url('../../assets/fame/s2/второе.svg');
    background-repeat: no-repeat;
    align-self: center;
    background-position: center;

}
.champ-place-third {
    background-image: url('../../assets/fame/s2/третье.svg ');
    background-repeat: no-repeat;
    align-self: center;
    background-position: center;
}

.champ-img {
    width: 220px;
    height: 220px;
    justify-items: center;
    align-items: center;
    background-position: center;
}

.diamond-img1 { 
    background-image: url('../../assets/fame/s2/teams/diamond/даймонд.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.diamond-img2 { 
    background-image: url('../../assets/fame/s2/teams/diamond/даймонд2.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.dimill-img1 {
    background-image: url('../../assets/fame/s2/teams/Dimill/димилл.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
    background-size: contain;
}

.fasoollka-img1 {
    background-image: url('../../assets/fame/s2/teams/fasoollka/фасолька.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.fasoollka-img2 {
    background-image: url('../../assets/fame/s2/teams/fasoollka/фасолька2.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.fasoollka-img3 {
    background-image: url('../../assets/fame/s2/teams/fasoollka/фасолька3.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.gena-img1 {
    background-image: url('../../assets/fame/s2/teams/GeneraL_HS_/гена.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.gena-img2 {
    background-image: url('../../assets/fame/s2/teams/GeneraL_HS_/гена2.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}


.gena-img3 {
    background-image: url('../../assets/fame/s2/teams/GeneraL_HS_/гена3.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.nomanz-img1 {
    background-image: url('../../assets/fame/s2/teams/Nomanz/номанз.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
    background-size: contain;
}

.smurf-img1 {
    background-image: url('../../assets/fame/s2/teams/Smurf_tv/смурф.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.smurf-img2 {
    background-image: url('../../assets/fame/s2/teams/Smurf_tv/смурф2.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.teamless-img1 {
    background-image: url('../../assets/fame/s2/teams/Teamless/тимлесс.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.teamless-img2 {
    background-image: url('../../assets/fame/s2/teams/Teamless/тимлесс2.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.tijoe-img1 {
    background-image: url('../../assets/fame/s2/teams/Tijoe/тиджой.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.tijoe-img2 {
    background-image: url('../../assets/fame/s2/teams/Tijoe/тиджой2.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.unholy-img1 {
    background-image: url('../../assets/fame/s2/teams/Unho1y/анхоли.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.unholy-img2 {
    background-image: url('../../assets/fame/s2/teams/Unho1y/анхоли2.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.unholy-img3 {
    background-image: url('../../assets/fame/s2/teams/Unho1y/анхоли3.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}


.champ-title {
    justify-self: center;
    align-self: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    line-height: 129%;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;

}

.champ-reward {
    justify-items: center;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 35px;
    line-height: 63%;
    text-align: center;
    color: #c2c2c2;
    margin-bottom: 30px;
}

.champ-heroes {
    
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(1, 1fr);
    height: 85px;
    width: 319px;
    justify-items: center;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    line-height: 129%;
    text-transform: uppercase;
    text-align: center;
    color: #818181;
    row-gap: 11px;
}

.goldy {
    color: #d9c586; 
}
.first{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    text-align: center;
    color: #d9c586;
    }


.heroes {
    margin-top: 100px;
    height: 553px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    column-gap: 55px;
    align-self: center;
}



.hero-card {
    border-radius: 19px;
    width: 190px;
    height: 312px;
    background: #0a0a0a;
    display: grid;
    grid-template-rows: repeat(1, 85px) repeat(1, 134px) repeat(1, 93px) repeat(1, 87px) repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    grid-area: 1 ;
}

.hero-card-place {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 26px;
    line-height: 85%;
    text-align: center;
    color: #fff;
}

.hero-card-img {
    height: 182px;
    width: 134px;
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.hero-card-name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    line-height: 129%;
    text-align: center;
    color: #fff;
}

.hero-card-reward {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 35px;
    line-height: 63%;
    text-align: center;
    color: #c2c2c2;
}

.hero-card-heroes {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(1, 1fr);
    height: 85px;
    width: 134px;
    justify-items: center;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 147%;
    text-transform: uppercase;
    text-align: center;
    color: #818181;
    row-gap: 11px;
}

.group-stage {
    margin-top: 100px;
    width: 1167px;
    display: grid;
    grid-template-rows: repeat(2, 53px) repeat(1, minmax(78px, 1fr)) 26px;
    grid-template-columns: 553px 61px 553px;
    justify-items: center;
}

.group-stage-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 35px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #fff;
    justify-self: start;
}


.group-stage-left {
    width: 553px;
    grid-area: 3/1;
    background-color: #fff;
    display: grid;
    grid-template-rows: repeat(1, 78px) ;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    align-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.group-stage-right {
    width: 553px;
    grid-area: 3/3;
    background-color: #121212;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}





.group-stage-info {
    height: 78px;
    width: 553px;
}



.group-stage-bottom-left {
    /* background: rgb(44,14,51);
    background: linear-gradient(90deg, rgba(44,14,51,1) 0%, rgba(211,47,172,1) 52%, rgba(255,201,64,1) 100%); */
    background: linear-gradient(146deg, #2c0e33 0%, #d32fac 48.27%, #ffc940 100%);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 26px;
    width: 553px;
    grid-area: 4

}
/* background: linear-gradient(to right, green 0%, green 80%, red 80%, red 100%); */
.group-stage-bottom-right {
    background-color: #B5E600;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 26px;
    width: 553px;
    grid-area: 4/3;
}

.group-stage-info-boxes {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 200px 195px 41px 30px repeat(1, 1fr);
    justify-items: center;
    align-items: center;
}

.group-a{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    grid-area: 1/1;
}

.group-b{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    grid-area: 1/1;
}

.group-win{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    grid-area: 1/3;
}

.group-lose{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    grid-area: 1/4;
}
.group-left{
    color: #000;}

.group-right{
    color: #fff;
}


.group-stage-team-boxes {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 80px 74px 155px repeat(1, 1fr) 41px 30px 87px;
    justify-items: center;
    align-content: flex-start;
    margin-bottom: 37px;
}

.group-win-score{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    grid-area: 1/5;
    align-self: center;
}

.group-lose-score{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    grid-area: 1/6;
    align-self: center;
}   

.group-number {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 28px;
    text-transform: uppercase;
    align-self: center;

}
.group-name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 21px;
    align-self: center;
    margin-left: 42px;
}
.nameless-hero-left {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 21px;
    color: #bababa;
}
.nameless-hero-right {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 21px;
    color: #2b2b2b;
}

.group-stage-team-img {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.left-w-l-line {
    width: 1px;
    height: 120px;
    background: #d9d9d9;
    position: absolute;
    margin-left: 320px;
    margin-top: -58px;
}
.right-w-l-line {
    width: 1px;
    height: 120px;
    background: #222;
    position: absolute;
    margin-left: 320px;
    margin-top: -58px;
}

.saturate {
    filter: saturate(0%);
    -webkit-filter: saturate(0%);
    -moz-filter: saturate(0%);
}



.playoff {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 77px) repeat(1, 1fr);
    width: 1166px;
    height: 614px;
    margin-bottom: 150px;
}

.playoff-title{
    width: 77px;
    height: 594px;
    background-image: url('../../assets/fame/s1/playoff-title.svg');
    background-repeat: no-repeat;
    background-position: center;
}


.margtop150 {
    margin-top: 150px;
}
.margtop125 {
    margin-top: 125px;
}
.margtop137 {
    margin-top: 137px;
}
.margtop100 {
    margin-top: 100px;
}
.margbottom300 {
    margin-bottom: 300px;
}
.margbottom150 {
    margin-bottom: 150px;
}
.margbottom125 {
    margin-bottom: 125px;
}
.margbottom100 {
    margin-bottom: 100px;
}
.margbottom137 {
    margin-bottom: 137px;
}

.champ-picks { 
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    height: 439px;
    width: 1167px;
}

.champions-lol {
    width: 1167px;
    height: 439px;
    background-repeat: no-repeat;
    background-position: center;
}

.champions-lol-title {
    width: 1167px;
    height: 87px;
  
}

.champions-lol-title-text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 35px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #000;
}
.champions-lol-images {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
    column-gap: 50px;
    row-gap: 20px;
    justify-items: center;
    align-items: center;
    width: 1167px;
    height: 350px;
}
.champions-lol-img {
    width: 189px;
    height: 262px;
    border-radius: 20px
}



.champions-lol-rakan {
    width: 189px;
    height: 262px;
    border-radius: 20px;
    background-image: url('../../assets/fame/s2/champions/rakan/рейкан.png');
    background-repeat: no-repeat;
    background-position: center;
}

.champions-lol-rakan-face {
    width: 189px;
    height: 262px;
    border-radius: 20px;
    background-image: url('../../assets/fame/s2/champions/rakan/рейкан.png');
    background-repeat: no-repeat;
    background-position: center;
}

.champions-lol-kaisa {
    width: 189px;
    height: 262px;
    border-radius: 20px;
    background-image: url('../../assets/fame/s2/champions/kaisa/кайса.png');
    background-repeat: no-repeat;
    background-position: center;
}
.champions-lol-nautilus {
    width: 189px;
    height: 262px;
    border-radius: 20px;
    background-image: url('../../assets/fame/s2/champions/nautilus/наутилус.png');
    background-repeat: no-repeat;
    background-position: center;
}
.champions-lol-jarvan {
    width: 189px;
    height: 262px;
    border-radius: 20px;
    background-image: url('../../assets/fame/s2/champions/jarvan/джарван.png');
    background-repeat: no-repeat;
    background-position: center;
}
.champions-lol-xayah {
    width: 189px;
    height: 262px;
    border-radius: 20px;
    background-image: url('../../assets/fame/s2/champions/xayah/шая.png');
    background-repeat: no-repeat;
    background-position: center;
}
.champions-lol-gragas {
    width: 189px;
    height: 262px;
    border-radius: 20px;
    background-image: url('../../assets/fame/s2/champions/gragas/грагас.png');
    background-repeat: no-repeat;
    background-position: center;
}
.champions-lol-sylas2 {
    width: 189px;
    height: 262px;
    border-radius: 20px;
    background-image: url('../../assets/fame/s2/champions/sylas/сайлас.png');
    background-repeat: no-repeat;
    background-position: center;
}
.champions-lol-seraphine-face {
    width: 189px;
    height: 262px;
    border-radius: 20px;
    background-image: url('../../assets/fame/s2/champions/seraphine/серафина2.png');
    background-repeat: no-repeat;
    background-position: center;
}
.champions-lol-draven {
    width: 189px;
    height: 262px;
    border-radius: 20px;
    background-image: url('../../assets/fame/s2/champions/draven/дрейвен.png');
    background-repeat: no-repeat;
    background-position: center;
}

.champions-lol-yasuo{
    width: 189px;
    height: 262px;
    border-radius: 20px;
    background-image: url('../../assets/fame/s2/champions/yasuo/drunk.png');
    background-repeat: no-repeat;
    background-position: center;
}

.champions-lol-sylas{
    width: 189px;
    height: 262px;
    border-radius: 20px;
    background-image: url('../../assets/fame/s2/champions/sylas/sylas.png');
    background-repeat: no-repeat;
    background-position: center;
}

.played-winrate {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    height: 24px;
    width: 188px;
    justify-items: start;
}
.played-winrate-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    text-align: right;
    color: #717171;
}

.champions-lol-img-name {display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    height: 24px;
    width: 188px;
}
.champions-lol-img-name-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 21px;
    color: #000;
    text-transform: capitalize;
}



.stats {
    width: 1167px;
    height: 464px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.stats-line {
    display: block;
    width: 1px;
    height: 346px;
    background: #1c1c1c;
    position: relative;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    margin-right: 82px;
}
.most-top-line {
    display: block;
    width: 1px;
    height: 464px;
    background: #1c1c1c;
    position: relative;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
}
.stats-by-champ {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    width: 733px;
    height: 464px;
}

.stats-by-champ-list {
    display: grid;
    grid-template-rows: repeat(3, 1fr) repeat(1, 25px);
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    width: 189px;
    height: 463px;
    margin-inline: 28px;
}

.stats-list-most {
    margin-top: 35px;
    height: 48px;
    width: 189px;
}
.stats-list-name {
    margin-top: 28px;
    height: 48px;
    width: 189px;
}
.stats-list-stat {
    margin-top: 20px;
    height: 48px;
    width: 189px;
}
.most-text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 21px;
    letter-spacing: -0.04em;
    color: #fff;
    justify-content: flex-start;

}

.stats-name-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: #979797;
    justify-content: flex-start;

}
.list-stat-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: #979797;
    justify-content: flex-start;

}

.stats-by-team {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(1, 1fr);
    row-gap: 22px;
    justify-content: center;
    align-items: center;
    width: 435px;
    height: 464px;
}

.stats-by-team-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 35px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #fff;
    justify-self:center;
    align-self:flex-start;
    padding-right: 80px;
}
.stats-by-team-img{
    width: 60px;
    height: 60px;
}
.stats-by-team-info-team-teamless {
    height: 60px;
    background-image: url('../../assets/fame/s1/teams/Teamless/Аферисты\ Тимлесса\ -\ лого\ 3.svg');
    background-repeat: no-repeat;
    background-position: center;
    
}

.stats-by-team-info-team-diamond {
    height: 60px;
    background-image: url('../../assets/fame/s1/teams/diamond/вайфочки\ даймонда\ 3.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.stats-by-team-info-team-keysie {
    height: 60px;                    
    background-image: url('../../assets/fame/s1/teams/Keysie/Големы\ Кейси\ -\ лого\ 3.svg');
    background-repeat: no-repeat;
    background-position: center;

}

.stats-by-team-info-team-gena {
    height: 60px;
    background-image: url('../../assets/fame/s1/teams/GeneraL_HS_/Аккаунты\ Генерала\ -\ лого\ 3.svg');
    background-repeat: no-repeat;
    background-position: center;

}

.stats-by-team-info-team-flash {
    height: 60px;
    background-image: url('../../assets/fame/s1/teams/Flashynthen1ght/Кисоньки\ Флеша\ -\ лого\ 2.svg');
    background-repeat: no-repeat;
    background-position: center;

}

.stats-by-team-info-team-teynor {
    height: 60px;
    background-image: url('../../assets/fame/s1/teams/Teynor/Картавычи\ Тейнора\ -\ лого\ 2.svg');
    background-repeat: no-repeat;
    background-position: center;

}
.stats-by-team-info-team-dimill {
    height: 60px;
    background-image: url('../../assets/fame/s1/teams/Dimill/Волосы\ Димилла-\ лого\ 3.svg');
    background-repeat: no-repeat;
    background-position: center;

}
.stats-by-team-info-team-Smurf_tv {
    height: 60px;
    background-image: url('../../assets/fame/s1/teams/Smurf_tv/дубины\ смурфа\ -\ лого\ 2.svg');
    background-repeat: no-repeat;
    background-position: center;

}

.stats-by-team-info {
    height: 60px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 54px) repeat(1, 1fr) repeat(1, 100px);
    justify-content: center;
    align-items: center;
}


.stats-by-team-info-name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: #757575;
    justify-self: left;
}

.stats-by-team-info-kda {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}

.stats-icon-keysie {
    position: absolute;
    height: 100px;
    width: 100px;
    justify-self: center;
    align-self: center;
    z-index: 2;
    background-image: url(../../assets/fame/s1/teams/Keysie/Големы\ Кейси\ -\ лого\ 4.svg);
    background-repeat: no-repeat;
    background-position: center;
    justify-self: start;
    margin-right: auto;
    margin-bottom: 15px;
}

.stats-icon-diamond {
    position: absolute;
    height: 100px;
    width: 100px;
    justify-self: center;
    align-self: center;
    z-index: 2;
    background-image: url(../../assets/fame/s1/teams/diamond/вайфочки\ даймонда\ 3.svg);
    background-repeat: no-repeat;
    background-position: center;
    justify-self: start;
    margin-right: auto;
    margin-bottom: 15px;
}

.stats-icon-gena {
    position: absolute;
    height: 100px;
    width: 100px;
    justify-self: center;
    align-self: center;
    z-index: 2;
    background-image: url(../../assets/fame/s1/teams/GeneraL_HS_/Аккаунты\ Генерала\ -\ лого\ 3.svg);
    background-repeat: no-repeat;
    background-position: center;
    justify-self: start;
    margin-right: auto;
    margin-bottom: 15px;
}

.stats-icon-teamless {
    position: absolute;
    height: 100px;
    width: 100px;
    justify-self: center;
    align-self: center;
    z-index: 2;
    background-image: url(../../assets/fame/s1/teams/Teamless/Аферисты\ Тимлесса\ -\ лого\ 3.svg);
    background-repeat: no-repeat;
    background-position: center;
    justify-self: start;
    margin-right: auto;
    margin-bottom: 15px;
}

.stats-icon-flash {
    position: absolute;
    height: 100px;
    width: 100px;
    justify-self: center;
    align-self: center;
    z-index: 2;
    background-image: url(../../assets/fame/s1/teams/Flashynthen1ght/Кисоньки\ Флеша\ -\ лого\ 2.svg);
    background-repeat: no-repeat;
    background-position: center;
    justify-self: start;
    margin-right: auto;
    margin-bottom: 15px;
}


.stats-icon-teynor {
    position: absolute;
    height: 100px;
    width: 100px;
    justify-self: center;
    align-self: center;
    z-index: 2;
    background-image: url(../../assets/fame/s1/teams/Teynor/Картавычи\ Тейнора\ -\ лого\ 4.svg);
    background-repeat: no-repeat;
    background-position: center;
    justify-self: start;
    margin-right: auto;
    margin-bottom: 15px;
}

.stats-icon-dimill {
    position: absolute;
    height: 100px;
    width: 100px;
    justify-self: center;
    align-self: center;
    z-index: 2;
    background-image: url(../../assets/fame/s1/teams/Dimill/Волосы\ Димилла-\ лого\ 3.svg);
    background-repeat: no-repeat;
    background-position: center;
    justify-self: start;
    margin-right: auto;
    margin-bottom: 15px;
}

.stats-icon-smurf {
    position: absolute;
    height: 100px;
    width: 100px;
    justify-self: center;
    align-self: center;
    z-index: 2;
    background-image: url(../../assets/fame/s1/teams/Smurf_tv/Дубины\ Смурфа\ -\ лого\ 4.svg);
    background-repeat: no-repeat;
    background-position: center;
    justify-self: start;
    margin-right: auto;
    margin-bottom: 15px;
}

.most-top-template {
    height: 358px;
    width: 1168px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.most-top-heroes {
    display: grid;
    grid-template-rows: repeat(1, 120px) repeat(3, 1fr) ;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    width: 584px;
    height: 358px;
    row-gap: 20px;
}

.most-top-heroes-title {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    height: 120px;
    width: 584px;
}

.most-top-heroes-hero {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 50px)  repeat(1, 77px) repeat(2, 144px) repeat(1, 1fr);  
    align-items: center;
    width: 584px;
    height: 60px;
    
}


.most-top-heroes-title-text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 35px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #fff;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    justify-items: flex-start;
    align-items: center;
    height: 60px;
    width: 584px;
    padding-left: 50px;
}

.most-top-marked-text {
    color: #d1a561;
}

.most-top-hero-name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: #757575;
    justify-self: flex-start;

}
.most-top-hero-info{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    justify-self: flex-start;
}

.mini-icon-keysie {
    height: 60px;
    width: 60px;
    justify-self: center;
    align-self: center;
    z-index: 2;
    background-image: url(../../assets/fame/s1/teams/Keysie/Големы\ Кейси\ -\ лого\ 5.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.mini-icon-diamond {
    height: 60px;
    width: 60px;
    justify-self: center;
    align-self: center;
    z-index: 2;
    background-image: url(../../assets/fame/s1/teams/diamond/вайфочки\ даймонда\ 3.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.mini-icon-gena {
    height: 60px;
    width: 60px;
    justify-self: center;
    align-self: center;
    z-index: 2;
    background-image: url(../../assets/fame/s1/teams/GeneraL_HS_/Аккаунты\ Генерала\ -\ лого\ 3.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.mini-icon-teamless {
    height: 60px;
    width: 60px;
    justify-self: center;
    align-self: center;
    z-index: 2;
    background-image: url(../../assets/fame/s1/teams/Teamless/Аферисты\ Тимлесса\ -\ лого\ 3.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.mini-icon-flash {
    height: 60px;
    width: 60px;
    justify-self: center;
    align-self: center;
    z-index: 2;
    background-image: url(../../assets/fame/s1/teams/Flashynthen1ght/Кисоньки\ Флеша\ -\ лого\ 2.svg);
    background-repeat: no-repeat;
    background-position: center;
}


.mini-icon-teynor {
    height: 60px;
    width: 60px;
    justify-self: center;
    align-self: center;
    z-index: 2;
    background-image: url(../../assets/fame/s1/teams/Teynor/Картавычи\ Тейнора\ -\ лого\ 4.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.mini-icon-dimill {
    height: 60px;
    width: 60px;
    justify-self: center;
    align-self: center;
    z-index: 2;
    background-image: url(../../assets/fame/s1/teams/Dimill/Волосы\ Димилла-\ лого\ 3.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.mini-icon-smurf {
    height: 60px;
    width: 60px;
    justify-self: center;
    align-self: center;
    z-index: 2;
    background-image: url(../../assets/fame/s1/teams/Smurf_tv/Дубины\ Смурфа\ -\ лого\ 5.svg);
    background-repeat: no-repeat;
    background-position: center;

}

.diamond-img1 { 
    background-image: url('../../assets/fame/s2/teams/diamond/даймонд.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.diamond-img2 { 
    background-image: url('../../assets/fame/s2/teams/diamond/даймонд2.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.diamond-img3 {
    background-image: url('../../assets/fame/s2/teams/diamond/даймонд3.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.fasoollka-img1 {
    background-image: url('../../assets/fame/s2/teams/fasoollka/фасолька.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.fasoollka-img2 {
    background-image: url('../../assets/fame/s2/teams/fasoollka/фасолька2.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.fasoollka-img3 {
    background-image: url('../../assets/fame/s2/teams/fasoollka/фасолька3.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.fasoollka-img4 {
    background-image: url('../../assets/fame/s2/teams/fasoollka/фасолька4.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.gena-img1 {
    background-image: url('../../assets/fame/s2/teams/GeneraL_HS_/гена.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.gena-img2 {
    background-image: url('../../assets/fame/s2/teams/GeneraL_HS_/гена2.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}


.gena-img3 {
    background-image: url('../../assets/fame/s2/teams/GeneraL_HS_/гена3.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.gena-img4 {
    background-image: url('../../assets/fame/s2/teams/GeneraL_HS_/гена4.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.likkrit-img1 {
    background-image: url('../../assets/fame/s2/teams/Likkrit/likkrit.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
    background-size: contain;
}

.smurf-img1 {
    background-image: url('../../assets/fame/s2/teams/Smurf_tv/смурф.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.smurf-img2 {
    background-image: url('../../assets/fame/s2/teams/Smurf_tv/смурф2.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.teamless-img1 {
    background-image: url('../../assets/fame/s2/teams/Teamless/тимлесс.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.teamless-img2 {
    background-image: url('../../assets/fame/s2/teams/Teamless/тимлесс2.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.tijoe-img1 {
    background-image: url('../../assets/fame/s2/teams/Tijoe/тиджой.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.tijoe-img2 {
    background-image: url('../../assets/fame/s2/teams/Tijoe/тиджой2.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.unholy-img1 {
    background-image: url('../../assets/fame/s2/teams/Unho1y/анхоли.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.unholy-img2 {
    background-image: url('../../assets/fame/s2/teams/Unho1y/анхоли2.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.unholy-img3 {
    background-image: url('../../assets/fame/s2/teams/Unho1y/анхоли3.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.unholy-img4 {
    background-image: url('../../assets/fame/s2/teams/Unho1y/анхоли4.svg');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
    background-position: center;
}

.playoff{
    width: 1166px;
    height: 613px;
    /* background-color: #fff; */
    margin-top: 100px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 77px) repeat(1, 1fr);
}
.playoff-title {
    height: 593px;
    width: 77px;
    grid-area: 1/1;
    background-image: url(../../assets/fame/s2/playoff/Безымянный-1\ 1.svg);
    align-self: center;
}
.playoff-date-line {
    border: 1px solid #fff;
    width: 0px;
    height: 254px;
    align-self: center;
    justify-self: center;
    align-content: center;

}
.playoff-date-line p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 142%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
    transform: rotate(270deg);
    margin-left: -25px;
}
.playoff-dates {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    height: 612px;
    width: 77px;
    align-self: center;
    justify-self: center;
}



.playoff-teams{
    height: 130px;
    width: 157px;
    display: grid;
    grid-template-rows: 14px repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    justify-items: end;
    align-items: center;
}

.playoff-team  {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

.playoff-team-backplate{
    border-radius: 11px;
    width: 157px;
    height: 45px;
    background: #070707;
    align-content: center;
    margin-bottom: 16px;

}

.margbottom42{
    margin-bottom: 42px;
}

.playoff-main{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(8, 1fr);
    width: 1012px;
    height: 612px;
}

.playoff-team-img{
    align-self: center;
    justify-self: center;
    width: 54px;
    height: 54px;
}

.playoff-team-title{
    align-self: center;
    justify-self: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 11px;
    line-height: 127%;
    color: #fff;        
}

.playoff-bo3{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 142%;
    letter-spacing: 0.01em;
    text-align: right;
    color: #fff;
    justify-self: end;
    text-transform: uppercase;
    text-wrap: nowrap;  
}
.playoff-bo3-time{
    display: grid;
    grid-template-rows: repeat(1, 1fr); 
    grid-template-columns: repeat(2, 1fr);
    height: 14px;
    gap: 13px;
}


.final-date{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    height: 47px;
    width: 157px;
    align-self: center;
    justify-self: end;
    gap: 19px;
    margin-top: -50px;
    text-align: center;
    color: #fff;
}


.playoff-final-date{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 106%;
    letter-spacing: 0.01em;
    color: #fff;
}
.playoff-final-final{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 94%;
    letter-spacing: 0.01em;
    color: #c0f500;
}
.playoff-final-best{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 131%;
    letter-spacing: 0.01em;
    color: #b5e600;
}
.playoff-final-time{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 142%;
    letter-spacing: 0.01em;
    text-align: right;
    color: #b5e600;
}


.lines{
    position: absolute;
    height: 698px;
    width: 1020px;
    /* background-repeat: no-repeat; */
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 49px 167px 105px 167px 105px 167px 90px 167px 1fr;
}
.looserq1{
    background-image: url('../../assets/fame/s2/playoff/loserq1.svg');
    background-repeat: no-repeat;
}
.looserq2{
    background-image: url('../../assets/fame/s2/playoff/loserq2.svg');
    background-repeat: no-repeat;
}
.looserq3{
    background-image: url('../../assets/fame/s2/playoff/loserq3.svg');
    background-repeat: no-repeat;
}
.winnerq1{
    background-image: url('../../assets/fame/s2/playoff/winnerq1.svg');
    background-repeat: no-repeat;
}
.winnerq2{
    background-image: url('../../assets/fame/s2/playoff/winnerq1.svg');
    background-repeat: no-repeat;
}
.winnerq3{
    background-image: url('../../assets/fame/s2/playoff/winnerq2.svg');
    background-repeat: no-repeat;
}
.winnerq3sub{
    background-image: url('../../assets/fame/s2/playoff/winnerq3sub.svg');
    background-repeat: no-repeat;
}
.winnerq3sub2{
    background-image: url('../../assets/fame/s2/playoff/winnerq2sub.svg');
    background-repeat: no-repeat;
}
.winnerq4{
    background-image: url('../../assets/fame/s2/playoff/winnerq3.svg');
    background-repeat: no-repeat;
}
.winnerq5{
    background-image: url('../../assets/fame/s2/playoff/winnerq4.svg');
    background-repeat: no-repeat;
}


.playoff-team-group {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    line-height: 100%;
    color: #fff;
    text-transform: uppercase;
    margin-left: -70px;
}


.playoff-team-score {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 93%;
    color: #b5e600;
    margin-right: -70px;
}



.vk-play-live-banner{
    height: 19px;
    width: 99px;
    background-image: url('../../assets/fame/s2/playoff/VK\ Play\ Live_black\ 3.svg');
    background-repeat: no-repeat;
    background-size: 99px;
    justify-self: end;
}

.playoff-middle-line{
    height: 1px;
    width: 100px;
    background-image: url('../../assets/fame/s2/playoff/line.svg' );
    background-repeat: no-repeat;
    background-size: auto;
    justify-self: end;
}

.playoff-img {
    background-image: url('../../assets/fame/s2/playoff/playoff2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
